* {
  box-sizing: border-box;
}

body {
    background: #ece9e6;
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
    background: linear-gradient(to right, #ffffff, #ece9e6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: white;
  box-shadow: 0 0 10px 20px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  font-family: inherit;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  color: #aaa;
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
}

.favourite-meal {
    background-color: #faf1ed;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
    width: 90px;
    margin-left: 2px;
}

.fav-meals li img {
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 85px;
  width: 85px;
}

.fav-meals li span {
    font-size: 1rem;
}

.meal{
margin: 1rem;
border-radius: 3px;
box-shadow: 0 0 10px 2px #3333331a;

}

.meal-header{
    position: relative;
}

.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img{
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn{
    border: none;
    font-size: 1.2rem;
    color: grey;
    cursor: pointer;
    background-color: transparent;
}

.meal-body .fav-btn.active{
    color: rebeccapurple;
}


