* {
  box-sizing: border-box;
}

body {
  background-image: url(./college.jpeg);
 
  background-position: center center;
  background-size: cover; 
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}


