* {
  box-sizing: border-box;
}

body {
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.quiz-container {
  background-color: white;
  box-shadow: 0 0 10px 5px gray;
  border-radius: 3px;
  width: 600px;
  overflow: hidden;
  max-width: 100%;
}

.quiz-header {
  padding: 3rem;
}

h2{
    margin: 0;
    text-align: center;
    padding: 0.4rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li{
    font-size: 1.1rem;
    padding: 0.7rem 0;
}

ul li label{
    cursor: pointer;
}

button {
  background-color: purple;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 1rem;
}

button:hover {
    background-color: indigo;
  }

  button:focus{
      background-color: darkmagenta;
      border: none;
  }
  